<!DOCTYPE html>
<html>
  <head>
    <title>PhotoApp2nd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Oswald:300,400,500,700&display=swap" rel="stylesheet">
  </head>

  <body>
    
    <%= render "layouts/navigation" %> 
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= render "layouts/messages" %>
          <%= yield %>        
        </div>
      </div>
    </div>
  </body>
</html>
